:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

html {
  font-size: 20px;
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2.MuiTypography-h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
h3.MuiTypography-h3  {
  font-size: 1.75rem;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

.MuiButtonBase-root {
  text-transform: initial!important;
}

section {
  padding-top: 3rem;  
  padding-bottom: 3rem;
}

header {
  .menuItem.active {
    border-bottom: 2px solid rgba(255,255,255, .5);
  }
}

.sectionContentTitle {
  .span {
    font-size: inherit;
    background-color: lightskyblue;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding-block: .16em;
    padding-inline: 20px;
    line-height: 1.4;
  }
}

.sectionHomeIntro {
  min-height: 100vh;
  min-height: 100dvh;

  .videoContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .2);
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Content {
    margin-top: 20vh;
    z-index: 99;
    position: relative;
    
    h1, p {
      font-weight: 500;
    }

    h1 {
      font-size: 2.5rem;
    }

    p {
      margin-top: 2rem;
      font-size: 1.25rem;
    }
  }
}

.sectionHomeSolutions {

  .cards {
    margin-top: 3rem;

    .cardMedia {
      display: flex;
      justify-content: center;
    }
  }
}

.sectionHomeNexta {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f5f5f5+100 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .imageWrapper {
    width: 550px;
    height: 330px;
    position: relative;
  }
}

.sectionHomeOpportunities {
  background: linear-gradient(to bottom,  #f5f5f5 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .imageWrapper {
    width: 520px;
    height: 330px;
    position: relative;
  }
}

.sectionHomeAchievements {
  .imageWrapper {
    width: 490px;
    height: 390px;
    position: relative;
  }
}

.sectionHomeDecisions {
  .imageWrapper {
    width: 360px;
    height: 390px;
    position: relative;
  }
}

.sectionHomeVictories {
  background-color: #363951;
  color: #fff;

  .textSecondary {
    color: rgba(255,255,255, .8);
  }

  .products {
    margin-top: 5rem;

    .productsBox {
      transition: all 
      ease-in-out 0.25s;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 30px 30px;
      display: flex;
      align-items: center;
      height: 300px;
      position: relative;

      &.nexta {
        background-image: url('/startup849805grey.jpg');
      }
      &.finex {
        background-image: url('/startup_culture_.jpg');
      }

      &:hover {
        .productsBoxOverlay {
          opacity: .8;
        }
        .productsBoxContent {
          padding-bottom: 4rem;

          .productsBoxContentButtonWrapper {
            opacity: 1;
          }
        }
      }

      &Overlay {
        background-image: -webkit-linear-gradient(top, rgba(54, 57, 81, 0.9), rgba(54, 57, 81, 0.9));
        transition: all ease-in-out 0.25s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &Content {
        z-index: 44;
        position: relative;
        text-align: center;
        transition: all 
        ease-in-out 0.25s;

        .productsBoxContentButtonWrapper {
          transition: all 
          ease-in-out 0.2s;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
}

footer {
  background-color: #1e233e;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 2rem;

  .copyright {
    margin-top: 1rem;
    font-size: .85rem;
  }

  .menu {
    li {
      margin-bottom: .75rem;
    }
  }

  .contacts {
    font-size: .85rem;

    li {
      margin-bottom: .75rem;
    }
  }
}

.sectionNextaIntro {
  position: relative;
  background: #363951;

  .videoContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .2);
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .picture {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: -2rem;
  }

  &Content {
    z-index: 99;
    text-align: center;
    margin-top: 3rem;
    position: relative;

    h1, p {
      font-weight: 500;
    }

    h1 {
      font-size: 2rem;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      z-index: 0;
    }

    p {
      margin-top: 1rem;
      font-size: 1.15rem;
    }
  }
}

.sectionNextaAdvantages {
  overflow: hidden;

  .imageAdvF {
    position: relative;
    height: 500px;
    width: 500px;
    perspective-origin: 50% 0%;
    transform: perspective(600px);
    transform-style: preserve-3d;

    img {
      transform: rotate3d(0.360833, -1, 0, 20deg);
      transition: all .5s;
    }
  }

  .imageAdvB {
    position: relative;
    height: 400px;
    width: 500px;
    perspective-origin: 50% 0%;
    transform: perspective(600px);
    transform-style: preserve-3d;

    img {
      transform: rotate3d(0, 1, 0, 10deg);
      transition: all .5s;
    }
  }
}

.sectionNextaDevelopment {
  background-color: #f5f4f4;

  .title {
    font-size: 1.5rem;
  }

  .list {
    margin-top: 3rem;

    &Item {
      text-align: center;
      margin-bottom: 2rem;
    }

    &Picture {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #1e233e;
      color: #fff;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      margin-bottom: 15px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
  }
}

.sectionNextaProviders {

  .titleWrapper {
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.sectionNextaFunctional {
  background-image: -webkit-linear-gradient(top, rgba(143, 184, 76, 0.9), rgba(143, 184, 76, 0.6));
}

.sectionNextaTestimonials {
  .masonry {
    &Item {
      border-radius: 1rem;
      border: 4px solid #708bab;
      padding: 1rem;
      line-height: 1.5;
    }
  }
}

.sectionFinexIntro {
  background-color: #e5e5f7;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #ddd, #ccc );

  &Content {
    z-index: 99;
    text-align: center;
    margin-top: 3rem;
    position: relative;

    h1, p {
      font-weight: 500;
    }

    h1 {
      font-size: 1.75rem;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      z-index: 0;
    }

    p {
      margin-top: 1rem;
      font-size: 1.15rem;
    }
  }
}

.sectionFinexAccordion {
  .accordionTitle {
    font-weight: 700;
  }
}

.sectionAboutIntro {
  background-color: #e5e5f7;
  background-image:  linear-gradient(30deg, #ccc 12%, transparent 12.5%, transparent 87%, #ccc 87.5%, #ccc), linear-gradient(150deg, #ccc 12%, transparent 12.5%, transparent 87%, #ccc 87.5%, #ccc), linear-gradient(30deg, #ccc 12%, transparent 12.5%, transparent 87%, #ccc 87.5%, #ccc), linear-gradient(150deg, #ccc 12%, transparent 12.5%, transparent 87%, #ccc 87.5%, #ccc), linear-gradient(60deg, #ccc 25%, transparent 25.5%, transparent 75%, #ccc 75%, #ccc), linear-gradient(60deg, #ccc 25%, transparent 25.5%, transparent 75%, #ccc 75%, #ccc);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;

  &Content {
    z-index: 99;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    position: relative;

    h1 {
      font-size: 1.75rem;
      overflow: hidden;
      position: relative;
      z-index: 0;
      text-transform: uppercase;
    }
  }
}

.sectionContacts {
  background-color: #86ae48;
  min-height: 100vh;
  align-items: stretch;
  padding-bottom: 0;
  flex-direction: row;
  display: flex;

  h1 {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &Content {
    color: #fff;
    margin-top: 5rem;
    text-align: right;

    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  #map {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
  }
}